/* 전체 스타일 초기화 및 기본 스타일 적용 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* 헤더 스타일링 */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu-button {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* 메인 콘텐츠 스타일링 */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
}

.item {
  background-color: #d2d2d2;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.item span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #333;
}

/* 팝업 스타일링 */
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ecf0f1;
  border: 1px solid #ccc;
}

.popup-message {
  margin-bottom: 10px;
}

#confirm-payment,
#close-popup {
  background-color: #2ecc71;
  color: white;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#confirm-payment:hover,
#close-popup:hover {
  background-color: #27ae60;
}

/* 장바구니 스타일링 */
.cart {
  background-color: #f0f0f0;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-items li {
  margin: 10px;
}

#checkout-button {
  background-color: #2ecc71;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#checkout-button:hover {
  background-color: #27ae60;
}
