body {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin: 1rem;
  padding: 0;
  height: 1920px;
  width: 1080px;
  background-color: skyblue;
  align-items: flex-start;
}

.content-wrapper{
  flex: 1;
}

header {
  background-color: #3B3B3B;

  color: white;
  text-align: center;
}

nav { /*맨 위 버튼부분*/
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  margin-right: 20px;

}

nav ul { 
  list-style: none;
  padding: 0 0;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 200px;
  height: 1080px;
}

nav ul li {
  display: block;
  position: relative;
  margin: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 20px 30px;
   /* 위아래 10px, 좌우 30px의 여백*/
}



main {
  background-color: gray;
  justify-content: space-around;
 
  
  
}



.menu {
  border: 3px solid #ddd;
  padding: 0;
  display: flex;
  width: 1300px;
  height: 1080px;
  gap: 30px;
}

.menu-item {
  margin-bottom: 10px;
  
}

.cart {
  width: 250px;
  border: 1px solid #ddd;
  padding: 20px;
  align-items: flex-start;
  margin-left: auto;
}

.item {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
 
}

#checkout-button {
  margin-left: auto;
  
}

button.deleteButton {
  margin-left: auto;
  display: block;
}

.cart {
  background-color: rgb(157, 157, 157);
  padding: 20px;
  border-radius: 5px;
  height: 1080px;
  width: 450px;
}

#cart {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#cart-items {
  flex: 1;
  max-width: 400px; 
  word-wrap: break-word; 
  margin-bottom: 1rem;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.delete-button {
  font-size: 2rem;
  margin-left: auto; 
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightslategray;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup p {
  margin: 0;
}

.popup button {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: auto; 
}

.menu-button {
  font-size: 30px; /*커, 차, 블, 디 버튼*/
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 5px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem; /*담기 버튼*/
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-height: 100px;
  min-width: 150px;
  max-width: 200px;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}