body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#registerForm {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #444;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

#keypad button {
    background-color: #ececec;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#keypad button:hover {
    background-color: #ddd;
}

#registerFormContainer {
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#registerFormContainer label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

#registerFormContainer input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registerFormContainer button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#registerFormContainer button:hover {
    background-color: #444;
}
